.item-product {
  position: relative;
  background: #fff;
  color: #000;
  border-radius: 25px;
  box-shadow: 0 0 17px #d3d3d3;
  margin: 0 10px !important;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.08);
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    .item-product-img {
      &::before {
        visibility: visible;
        opacity: 1;
      }
    }
    &::before {
      visibility: visible;
      opacity: 1;
      border-radius: 25px;
    }
  }

  &-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    max-height: 225px;
    background-position: center;

    &::before {
      content: 'XEM';
      position: absolute;
      display: inline-block;
      z-index: 4;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgb(66, 103, 178);
      color: #fff;
      padding: 18px 60px;
      border-radius: 50px;
      font-weight: 500;
      font-size: 16px;
      visibility: hidden;
      opacity: 0;
      border: none;
      transition: all 0.1s ease-in-out;
    }
  }

  &-content {
    display: block;
    text-align: center;
    padding: 10px 15px 20px;

    .new-product-loop-label {
      font-weight: 400;
      margin: 0;
      word-break: normal;
      overflow-wrap: break-word;
      font-size: 10px;
      letter-spacing: 1px;
      line-height: 17px;
      color: #72716d;
      text-transform: uppercase;
      margin-bottom: 5px;
      min-height: 25px;
      display: block;
    }

    &-tit {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 40px;
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 0;
    }

    &-price {
      margin-top: 5px;
      font-size: 13px;

      .price-before {
        text-decoration-line: line-through;
      }
    }
  }
}
