.newProduct {
  &-content {
    width: 60%;
    padding: 50px;
    margin: 10px auto 50px;
  }

  .upload-img {
    display: flex;
    padding: 0%;
    width: 100%;

    &::file-selector-button {
      cursor: pointer;
      width: 100%;
      z-index: 2;
      height: 4vh;
      border: none;
      margin: 0%;
      font: 400 0.8vmax cursive;
      transition: all 0.5s;
      padding: 0 1vmax;
      color: rgba(0, 0, 0, 0.623);
      background-color: rgb(255, 255, 255);
      border: 1px solid #d9d9d9;
    }

    &::file-selector-button:hover {
      background-color: rgb(235, 235, 235);
    }
  }

  .img-preview {
    width: 100%;
    max-height: 195px;
    overflow: auto;

    & > div {
      margin-right: 10px;
    }
  }
}
